@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right, #F2E1C4,#a19582);
}

main {
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #72695cb0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4F4A40;
    text-shadow: 1px 1px 2px #444037d5;
    text-align: center;
}

h2 {
    color: #736B5D;
}

p {
    text-align: justify;
}